# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

*~
# Intellij Files
workspace.xml
rebel_project.xml
misc.xml

# Vagrant Files
.vagrant
ansible.cfg
ansible/plugins/human_log.py
ansible/plugins/human_log.pyc