#!/usr/bin/env bash

# Script is used to backup sensitive files to a compressed file

archive_command="{{ sickrage_backup_command }}"
backup_filename={{ sickrage_backup_filename }}
backup_dir={{ sickrage_config_dir }}
backup_source={{ sickrage_backup_sources }}
backup_target={{ sickrage_backup_target }}

cd $backup_dir
$archive_command $backup_target/$backup_filename $backup_source

