---
- hosts: all
  gather_facts: yes
  become: true
  vars:
    os_username:    'vagrant'
    backup_dir_root: "/home/{{ os_username }}/Dropbox/0-Backups"
    vnc_password: welcome1 # Defaults to 'welcome1', encrypt true value
  
  vars_files:
    - vars/eventhorizon/common.yml
    - vars/eventhorizon/nfs-mounts.yml
    - vars/eventhorizon/dropbox.yml
    - vars/eventhorizon/autokey.yml
    - vars/eventhorizon/ssh-server.yml
    - vars/eventhorizon/gitkraken.yml
    - vars/eventhorizon/remmina.yml

  pre_tasks:
    - shell: echo 'Starting...'

  roles:
    - patrick-hill.common
    # - patrick-hill.firewall
    - patrick-hill.nfs-mounts
    - patrick-hill.dotfiles
    - patrick-hill.dropbox
    - patrick-hill.jdk8
    # Don't use backups
    - patrick-hill.chrome
    - patrick-hill.franz
    - patrick-hill.packer
    - patrick-hill.vagrant
    - patrick-hill.whatpulse
    - patrick-hill.ssh-server
    - jdauphant.intellij
    # Use Backups
    - patrick-hill.autokey
    - patrick-hill.conky
    - patrick-hill.remmina
    - patrick-hill.gitkraken
    - patrick-hill.vs-code


  post_tasks:
    - shell: echo 'Done'

